:root {
	--color-primary: #180b8a;
	--color-secondary: #e67915;
}

.btn-primary {
	background-color: var(--color-secondary);
	color: white;
}

.btn-primary:hover {
	background-color: #d16d13;
}

.btn-secondary {
	background-color: var(--color-primary);
	color: white;
}

.btn-secondary:hover {
	background-color: #0f0766;
}

.gradient-bg {
	background: linear-gradient(
		90deg,
		var(--color-primary),
		var(--color-secondary)
	);
}
