@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   src: url("/fonts/SFT-Schrifted-Sans-TRIAL-Var-BF6413e215ec95b.ttf");
   font-family: sans;
}

::-webkit-scrollbar {
   width: 6px;
}

::-webkit-scrollbar-track {
   background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
   background: #888;
   border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
   background: #555;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-size: 20px;
   font-family: sans;
   font-weight: 300;
}

ul,
ol,
li {
   list-style: none;
}

.custom-container {
   @apply container m-auto px-[105px] max-2xl:px-[40px] max-xl:px-[30px] max-lg:px-6;
}

.flex-center {
   @apply flex items-center justify-center;
}

h1 {
   @apply text-[100px] max-3xl:text-[72px] max-2xl:text-[60px] max-xl:text-[55px] max-lg:text-[32px] max-md:text-[55px] max-sm:text-[32px] font-semibold leading-[95px] max-3xl:leading-[80px] max-2xl:leading-[70px] max-xl:leading-[55px] max-lg:leading-[40px] max-md:leading-[55px] max-sm:leading-[40px];
}


.course:nth-child(1) {
   background-color: #ec8d18;
}

.course:nth-child(2) {
   background: #21209c;
}

.course-btn:nth-child(1) {
   background-color: #21209c;
}
