@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   src: url("/fonts/SFT-Schrifted-Sans-TRIAL-Var-BF6413e215ec95b.ttf");
   font-family: sans;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-size: 20px;
   font-family: sans;
   font-weight: 300;
}

ul,
ol,
li {
   list-style: none;
}

.custom-container {
   @apply container m-auto px-[105px] max-2xl:px-[80px] max-xl:px-[50px] max-lg:px-6;
}

.flex-center {
   @apply flex items-center justify-center;
}



/*           TESTING_PAGE          */

.section{
   @apply 
   w-full 
   h-screen 
   bg-white
   flex
   flex-col
   justify-center
   items-center  
   z-[100]
}

.orange_div{
   @apply
   w-full
   h-[50vh]
   bg-orange
   relative
}

.blue_div{
   @apply
   bg-blue
   w-[80%]
   max-lg:w-[85%]
   max-sm:w-[90%]
   rounded-3xl
   p-7
   max-2xl:p-6
   max-xl:p-5
   max-lg:p-3
   max-sm:p-2
   absolute
   top-1/2
   left-1/2
   -translate-y-1/2
   -translate-x-1/2
}

.text_size{
   @apply text-2xl max-2xl:text-xl max-xl:text-lg max-lg:text-base max-md:text-sm
}

.small_text_size{
   @apply text-xl max-2xl:text-lg max-xl:text-base max-lg:text-sm max-md:text-xs
 }

/***************************************************/

h1 {
   @apply text-[100px] max-3xl:text-[72px] max-2xl:text-[60px] max-xl:text-[55px] max-lg:text-[32px] max-md:text-[55px] max-sm:text-[32px] font-semibold leading-[95px] max-3xl:leading-[80px] max-2xl:leading-[70px] max-xl:leading-[55px] max-lg:leading-[40px] max-md:leading-[55px] max-sm:leading-[40px];
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}